body {
    background-color: #b8c0ff;
    font-family: 'Mulish', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}

.navbar {
    background-color: #b8c0ff;
    font-family: 'Mulish', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}

nav-link {
    font-family: 'Mulish', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    font-size: 2em;
}

#title {
    color: #ffafcc
}

footer {
    background-color: #ffd6ff;
}