body {
    background-color: #b8c0ff;
    font-family: 'Mulish', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}

nav {
    background-color: #b8c0ff;
    font-family: 'Mulish', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5em;
    color: #3c096c
}

#title {
    color: #ffafcc
}

footer {
    background-color: #ffd6ff;
}

.noDecorationUl {
    list-style-type: none;
}